absl-py==1.4.0
astunparse==1.6.3
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
confection==0.1.0
contourpy==1.0.7
-e git+ssh://git@github.com/viebboy/cvinfer.git@bd10ca743bdc3f14a9118f51bac1a48b29d9debc#egg=cvinfer
cycler==0.11.0
cymem==2.0.7
-e git+ssh://git@github.com/viebboy/dataset_server.git@ea0dda53f6e21eb5488b7e3a4527d32e57e486c6#egg=dataset_server
dill==0.3.6
drawline==0.3.4
et-xmlfile==1.1.0
fastai==2.7.12
fastcore==1.5.29
fastdownload==0.0.7
fastprogress==1.0.3
flatbuffers==23.1.21
fonttools==4.38.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.53.0
h5py==3.8.0
humanfriendly==10.0
idna==3.4
imbalanced-learn==0.11.0
jax==0.4.8
Jinja2==3.1.2
joblib==1.2.0
kaleido==0.2.1
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.0
llvmlite==0.40.1
loguru==0.6.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.6.3
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
ml-dtypes==0.0.4
-e git+ssh://git@github.com/viebboy/mlproject.git@61c0c24bd5997862914c5ae720d0e50793c69f60#egg=mlproject
mpmath==1.2.1
murmurhash==1.0.9
mxnet==1.9.1
nltk==3.8.1
numba==0.57.1
numpy @ file:///croot/numpy_and_numpy_base_1667233465264/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
onnx==1.13.0
onnxruntime==1.13.1
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.1
pathy==0.10.2
Pillow==9.3.0
plotly==5.11.0
preshed==3.0.8
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.11
pyparsing==3.0.9
python-dateutil==2.8.2
pyts==0.13.0
pytz==2022.6
PyYAML==6.0.1
regex==2023.6.3
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.9.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
smmap==5.0.0
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
sympy==1.11.1
tabulate==0.9.0
task-virtualthread==0.0.3
tenacity==8.1.0
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
thinc==8.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
torch==1.13.0
torchaudio==0.13.0+cu116
torchsummary==1.5.1
torchvision==0.14.0
tqdm==4.64.1
tsai==0.3.7
typer==0.9.0
typing_extensions==4.4.0
urllib3==1.26.12
wasabi==1.1.2
Werkzeug==2.2.3
wrapt==1.14.1
